@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Vidaloka&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

a:visited {
  color: white;
}

button {
  padding: 6px 8px;
  margin: 0 20px 20px 0;
  cursor: pointer;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

h1, h2, h3 {
  font-family: 'Vidaloka', serif;
}

h2 {
  font-family: 'Vidaloka', serif;

}

.main-page {
  background-color: #121212;

}

/* SITEWIDE *********************************************** */
.container {
  max-width: 1000px;
  margin: 0 auto;
  background-color: #121212;

}

/* HEADER ************************************************* */
.header {
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #121212;
  color: white;
  font-family: 'Vidaloka', serif;

}

.navList {
  display: flex;
}

.navLink {
  display: block;
  padding: 20px;
  color:black;
}

.navLink:hover {
  color: gray;
}

.navLink:visited {
  color: black;
}

.main-page {
  display: flex;
}


.city-img {
  width: 400px
}

/* SIDEBAR ************************************************* */
.sidebar {
  width: 240px;
  height:100vh;
  background-color: #121212;
  min-width: 300px;
  font-family: 'Vidaloka', serif;

}

.sidebar-card {
  display: flex;
  padding: 20px;
  cursor: pointer;
  background-color: #272727;
  color:white;
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
  border-radius: 10px;
  mask-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0, 0, 0, 0.434) 100%);
  -webkit-mask-image: linear-gradient(to bottom, rgba(107, 52, 52, 0.8) 0%,rgba(0,0,0,.9) 80%);

}

.sidebar-card:hover {
  background: #121212;
}

/* category INFO *********************************************** */
.category-info {
  flex-grow: 1;
  font-family: 'Vidaloka', serif;
  background-color:#121212;

}

.category-detail {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin:10px;
  margin-right:15px;
  margin-left:15px;
  background-color:white;
  box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
  border-radius: 10px;
  mask-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0, 0, 0, 0.434) 100%);
  -webkit-mask-image: linear-gradient(to bottom, rgba(107, 52, 52, 0.8) 0%,rgba(0,0,0,.9) 80%);


}

.category-content {
  padding-right: 15px;

}

.category-img {
  width: 525px;
  max-width: 50%;
  border-radius: 10px;
  mask-image: linear-gradient(rgba(0,130,170,0),rgba(0,130,170,1));

}

/* RECIPES SECTION ******************************************* */
.recipes-section {
  cursor: pointer;
  padding:10px;
  background: #121212;
  
}

.add-recipe-button {
  margin: 15px;
  padding: 7px 10px;
  font-family: Roboto;
  font-weight: 100px;
  background:#121212;
  border:none;
  color:white
}

.recipe {
  padding: 18px;
  display: flex;
  justify-content:space-around;
  padding: 10px;
  background-color: #272727;
  color: white;
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
  border-radius: 10px;
  mask-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0, 0, 0, 0.434) 100%);
  -webkit-mask-image: linear-gradient(to bottom, rgba(107, 52, 52, 0.8) 0%,rgba(0,0,0,.9) 80%);

}

.recipe-container {
  padding: 10px;
}

.recipe:hover {
  background: #121212;
}

.recipe-img {
  width: 150px;
  padding: 10px;
  border-radius: 15px;
  mask-image: linear-gradient(rgba(0,130,170,0),rgba(0,130,170,1));

}

.show-recipe-page {
  margin: 0 auto;
  max-width: 1000px;
  padding: 20px;
}

.recipe-category-name,
.recipe-title,
.recipe-body {
  margin-bottom: 10px;

}

.button, .link-button {
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #121212;
  color: white;
  font-family: 'Vidaloka', serif;
  border: none;
  font-size: 16px;
  left: 50px;

}

.signup-form-wrapper {
  position: absolute;
  top: 50%;
  left: 58%;
  transform: translate(-50%, -50%);
  width: 600px;
  height:260px;
  display: flex;
  border: none;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
  border-radius: 10px;
  /* mask-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0, 0, 0, 0.434) 100%);
  -webkit-mask-image: linear-gradient(to bottom, rgba(107, 52, 52, 0.8) 0%,rgba(0,0,0,.9) 80%); */
}

.signup-form {
  width: 60%;
  background-color: white;
  border-radius:  10px ;
}


.input-field {
  padding-right: 40px;
  padding-left: 20px;
  opacity: .8
}

.input {
    font-size: 16px;
    display: block;
    font-family: 'Work Sans', sans-serif;
    font-weight: lighter;
    width: 100%;
    padding: 10px;
    border: 0;
    border-bottom: 1px solid #747474;
    outline: none;
    transition: all .2s;
    border-radius: 4px;
    padding-right: 10px;
} 
   focus {
      border-color: #222;
    }


.form-img {
  height: 50%;
  width: auto;
  mask-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
  -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
}

.button-sign {
  width: 100%;
  border: none;
  padding: 18px;
  cursor: pointer;
  text-transform: uppercase;
  background: rgb(31, 31, 31);
  color: #ffffff;
  letter-spacing: 0.2px;
  outline: 0;
  transition: all .3s;
  border-radius: 0px 0px 10px 10px;
  }

  .navLink1 {
    display: block;
    padding: 20px;
    color:white
  }

  .add-post-wrapper {
    position: relative;
    height:40px;
  }

  .add-post {
    position: absolute;
    border-radius: 50px;
    width:50px;
    height:50px;
    right:10px;
    top:0;
    font-size:20px
  }

  .add-post-text {
    position: absolute;
    right:40px;
    width:110px;
    top:15px;
    font-size:15px;
    font-family: 'Vidaloka', serif;

  }

  .add-city-wrapper {
    position: absolute;
    height:40px;
    left:0;
    top:430px;
    
  }

  .add-city {
    position: absolute;
    border-radius: 50px;
    width:50px;
    height:50px;
    left:10px;
    font-size:20px
  }

  .add-city-text {
    position: absolute;
    left:70px;
    width:200px;
    font-size:15px;
    font-family: 'Vidaloka', serif;
    top:31px;

  }


  .post-form-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height:360px;
    width:500;
    display: flex;
    border: none;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
    border-radius: 10px;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0, 0, 0, 0.434) 100%);
    -webkit-mask-image: linear-gradient(to bottom, rgba(107, 52, 52, 0.8) 0%,rgba(0,0,0,.9) 80%);
  }

  .city-form-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height:300px;
    width:500;
    display: flex;
    border: none;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
    border-radius: 10px;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0, 0, 0, 0.434) 100%);
    -webkit-mask-image: linear-gradient(to bottom, rgba(107, 52, 52, 0.8) 0%,rgba(0,0,0,.9) 80%);
  }
  
  
  .post-form {
    width: 400px;
    background-color:white;
    border-radius:  10px ;
  }

  .new-post-page {
    background-color: #121212;
 
  }
  
  body {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('07.jpg');
	  background-size: 130%;
    font-weight: lighter;
}