@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Vidaloka&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

a:visited {
  color: inherit;
}

button {
  padding: 6px 8px;
  margin: 0 20px 20px 0;
  cursor: pointer;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

h1, h2, h3 {
  font-family: 'Vidaloka', serif;
}

h2 {
  font-family: 'Vidaloka', serif;

}

/* SITEWIDE *********************************************** */
.container {
  max-width: 1000px;
  margin: 0 auto;
  background-color: #121212;

}

/* HEADER ************************************************* */
.header {
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #121212;
  color: white;
  font-family: 'Vidaloka', serif;

}

.navList {
  display: flex;
}

.navLink {
  display: block;
  padding: 20px;
}

.navLink:hover {
  color: gray;
}

.main-page {
  display: flex;
}


.city-img {
  width: 400px
}

/* SIDEBAR ************************************************* */
.sidebar {
  width: 240px;
  height:100vh;
  background-color: #121212;
  min-width: 300px;
  font-family: 'Vidaloka', serif;

}

.sidebar-card {
  display: flex;
  padding: 20px;
  cursor: pointer;
  background-color: #272727;
  color:white;
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
  border-radius: 10px;
  mask-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0, 0, 0, 0.434) 100%);
  -webkit-mask-image: linear-gradient(to bottom, rgba(107, 52, 52, 0.8) 0%,rgba(0,0,0,.9) 80%);

}

.sidebar-card:hover {
  background: #121212;
}